@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cover: #000000;
  --background: #1a1a24;
  --foreground: #ffd455;
}

body {
  color: var(--foreground);
  background: var(--cover);
  font-synthesis: none;
}

h1 {
  margin-bottom: 0.5rem;
  font-size: large;
  line-height: 1.2;
}

p {
  margin-bottom: 1rem;
}
