@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cover: #000000;
  --background: #1a1a24;
  --foreground: #ffd455;
}

body {
  color: var(--foreground);
  background: var(--cover);
  font-synthesis: none;
}

.panelCode {
  background-color: #24292e;
  margin: 20px 20px 5px 5px;
  padding: 10px 10px 5px 25px;
  font-size: 13px;
  line-height: 18px;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
